.button {
    background-color: #1c80cc;
    padding: .6em 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 10px #3ce24e;
    
}