.header {
    width: 100%;
    background-color: #1d80cc;
    color: white;
    padding: 0.5em;
    p {
        margin: 0;
    }
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerTitle {
    font-size: 2em;
}
.headerCart {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        svg {
            margin-right: 0.5em;
        }
    }
}
